language: python

matrix:
  include:
    - python: 2.7
      env:
        - TOX_ENV=py27
    - python: 2.7
      env:
        - TOX_ENV=pep8
    - python: 3.5
      env:
        - TOX_ENV=py35

install:
  - pip install tox

script:
  - tox -e $TOX_ENV
