include AUTHORS
include LICENSE
include ChangeLog
exclude .gitignore
exclude .gitreview
include debian/*
include debian/source/*
include etc/*
include etc/neutron/opflex-agent/*
include rpm/*
global-exclude *.pyc
