[Unit]
Description=Neutron OpFlex Plugin Agent
After=syslog.target network.target agent-ovs.service
Wants=agent-ovs.service
Before=openstack-nova-compute.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-opflex-agent --config-file /usr/share/neutron/neutron-dist.conf --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/openvswitch_agent.ini --log-file /var/log/neutron/opflex-agent.log
PrivateTmp=false
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

