Source: neutron-opflex-agent
Section: python
Priority: optional
Maintainer: Cisco Systems, Inc. <apicapi@noironetworks.com>
Build-Depends: debhelper (>= 9), python-setuptools (>= 3.3), python-all (>= 2.7)
Standards-Version: 3.9.5
Homepage: https://github.com/noironetworks/python-opflex-agent
Vcs-Browser: https://github.com/noironetworks/python-opflex-agent
Vcs-Git: git://github.com/noironetworks/python-opflex-agent.git

Package: neutron-opflex-agent
Architecture: all
Depends: gawk, neutron-server (>=2015.1), python-pyinotify, supervisor,
         ${misc:Depends}, ${python:Depends}
Description: Neutron agent for OpFlex based policy enforcement
 Neutron agent that provides edge policy enforcement
