[Unit]
Description=Neutron Cisco Host Agent
After=network.target agent-ovs.service
Wants=agent-ovs.service
Before=openstack-nova-compute.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-cisco-apic-host-agent --config-file=/etc/neutron/neutron.conf --config-file=/etc/neutron/opflex-agent/apic_topology_service.ini --log-file=/var/log/neutron/opflex-agent.log
PrivateTmp=false
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

