[Unit]
Description=Neutron OpFlex Plugin Agent
After=network.target agent-ovs.service
Wants=agent-ovs.service
Before=openstack-nova-compute.service

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-opflex-agent --config-file=/etc/neutron/neutron.conf --config-file=/etc/neutron/plugin.ini --log-file=/var/log/neutron/opflex-agent.log
PrivateTmp=false
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target

